link(rel='stylesheet', href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
link(rel='stylesheet', href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

html
    link(rel='stylesheet', href='/styles/main.min.css')
    script(src='/scripts/main.min.js')
    div(class='sidebar' id="side_nav" style="width: 20%; height: 100vh; position: fixed;")
        include side-bar.pug
    div(class="content" style="margin-left: 20%; width: 80%;")
        div(class="content-page")


