div(class="photo-data users-list raw gx-2" style="padding: 10px 20px 0 20px;")
    each photo in photos_array
        img(class="p-2 col-md-4 center photos-list" src=photo["path"] alt='' style='max-height: 300px; max-width: 300px; width: 100%; object-fit: cover; border-radius: 5%')
    footer(style="height: 20px;")
