section(class="white-bg")
    div(class="page-header")
        div(class="row")
            div(class="col-lg-12")
                img(class="feature-image" src='/images/avatar.svg' alt=''
                    style='width:90px; height:90px; border-radius: 50%; background: url("/images/avatar.svg") no-repeat;')

section(class="next-bj")
    div(class="row")
        div(class="col-lg-12")
            p User info