// START SCSS %%%%%%%%%%%%%%%%%%%%%%%% //
// Saas common variables code.

//** COLORS

$black:			#2c3643;
$gray-dark:		#3b444f;
$gray-title:	#67747c;
$gray:       	#99a9b3;
$gray-light: 	#dbe6ec;

h2{
  background: #2c3643;
}